<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Login Test">
    <classes>
      <class name="TestCases.Login"/>
    </classes>
 </test> <!-- Test -->   
 
     <test thread-count="5" name="Search and Buy Test">
    <classes>
      <class name="TestCases.SearchAndBuyItem"/>
    </classes>
    </test> <!-- Test -->
    
      <test thread-count="5" name="Validation Test">
    <classes>
      <class name="TestCases.Validation"/>
    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->

